@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply bg-lime-600 text-white rounded-md mt-6 block px-5 py-3;
}

.rta__autocomplete {
  @apply bg-white rounded-md shadow-lg p-2 border-2 border-gray-500;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;
}

.rta__list {
  box-shadow: none !important;
  border: none !important;
}

.rta__list li {
  @apply pt-1 pb-1
}
