@import "@webscopeio/react-textarea-autocomplete/style.css";
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/bg.svg');
  background-size: 1200px 800px;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

.calistoga {
  font-family: 'Calistoga', serif;
}

h1 {
  font-family: 'Calistoga', serif;
}

.button {
  @apply bg-black text-white rounded-md block px-5 py-3;
}

.button--green {
  @apply bg-green-500;
}

.button--secondary {
  @apply bg-violet-800;
}

.rta__autocomplete {
  @apply bg-white rounded-md shadow-lg p-2 border-2 border-gray-500;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;
}

.rta__list {
  box-shadow: none !important;
  border: none !important;
}

.rta__list li {
  @apply pt-1 pb-1
}
