@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair {
  font-family: 'Playfair Display', serif;
}

h1 {
  @apply text-7xl font-bold mb-5 text-black;
  font-family: 'Playfair Display', serif;
}

.button {
  @apply bg-black text-white rounded-md mt-6 block px-5 py-3;
}

.rta__autocomplete {
  @apply bg-white rounded-md shadow-lg p-2 border-2 border-gray-500;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;
}

.rta__list {
  box-shadow: none !important;
  border: none !important;
}

.rta__list li {
  @apply pt-1 pb-1
}
